.service-item {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  transition: opacity 0.5s ease-in-out; /* Add a transition for smooth hover effect */
}

.service-item:hover {
  opacity: 0; /* Reset opacity to 0 on hover */
  animation: fadeIn 0.5s ease-in-out forwards; /* Trigger the fade-in animation on hover */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Delay each item */
.service-item:nth-child(1) {
  animation-delay: 0.3s;
}

.service-item:nth-child(2) {
  animation-delay: 0.6s;
}

.service-item:nth-child(3) {
  animation-delay: 0.9s;
}
